
/*=============================这里是清楚默认样式的*/
body
,form
,h2
,h3
,p{
    margin:0;
}

input{
    margin:0;
    padding:0;
    outline: none;
    border-width: 0;
}
ul,ol{
    margin:0;
    padding:0;
    list-style: none;
}
img{
    vertical-align: top;
    border:none;
}
a{
    text-decoration: none;
}
.clearFix{
    zoom:1;
}
.clearFix:after{
    content: "";
    display: block;
    clear:both;
}




/*=============================================头部*/
.head{
    background:url(../img/repeat.png) repeat-x ;
    font:12px/41px "宋体";
    color: #ccc;
    height:41px;
    min-width:1300px;
}
.logo, .nav, .form{
    float:left;
    /*height: 41px;*/
}
.user{
    float:right;
}
.head .logo{
    float:left;
    background:url(../img/img.png) no-repeat -46px 1px;
    width:195px;
    height: 41px;
}
.head .nav{
    margin-right: 54px;
    position:relative;
}
.head .nav a{
float:left; 
padding:0 8px;
color:#ccc;
position:relative;
}
.head .nav .lianjie:hover{
    background:#000;
    color:#d8ffa1;
}
.head .nav .active{
     color:#d8ffa1;
}
.b img{
    width:30px;
    height:30px;
    padding-top: 5px;
    }
.head .nav .more{
    padding-right: 20px;
    position:relative;
}
.nav ul{
    position:absolute;
    top:41px;left:0;
    width:80px;
    background:#000;
    text-indent:9px;
    font:12px/31px Arial,"宋体";
 /*   display:none;*/ /*下面用到的是动画效果*/
    height:0;
    overflow: hidden;
    transition: 0.5s;
}.head .nav .lianjie:hover .list1{
    /*display:block;*/
    height:90px;
    color:#c5d2c8;
    z-index: 2;   /*提升层级和定位一起用为了不被下面的内容覆盖*/
}
.list1 li:hover,
.list2 li:hover,
.list3 li:hover,
.list4 li:hover,
.list5 li:hover,
.list6 li:hover{
	    color:#ccff99;
}
.head .nav .lianjie:hover .list2{
    height:90px; 
    color:#c5d2c8;
    z-index: 2;
}
.head .nav .lianjie:hover .list3{
    /*display:block;*/
    height:124px;  color:#c5d2c8;
    z-index: 2;
}
.head .nav .lianjie:hover .list4{
    /*display:block;*/
    height:186px;  color:#c5d2c8;
    z-index: 2;
}
.head .nav .lianjie:hover .list5{
    /*display:block;*/
    height:62px;  color:#c5d2c8;
        z-index: 2;
}
.head .nav .lianjie:hover #zhuan{
	transform: rotateZ(180deg);
	
}

.head .nav span{
    position: absolute;
    top:19px;
    right:8px;
    float:left;
    width:7px;
    height:4px;
    background:url(../img/img.png) no-repeat -257px 0px;
}
 .form input{
    width:120px;
    height:19px;
    padding:5px 14px;
    margin:7px 14px 0 14px;
    color:#a9a9a9;
    background:#d8d8d8;
    box-sizing: content-box;
}
/*===========================滑动门*/
.form .hdml{
    float:left;
    background:url(../img/repeat.png) no-repeat left -42px;
}
.form .hdmr{
    float:left;
    background:url(../img/repeat.png) no-repeat right -86px;
    height: 41px;
}
.user a{
    color:#ccc;
    padding:0 8px;
}
.user a:hover{
    color:#ccff99;
}

#use{
    position:absolute;
    width:22px;
    height:17px;
    top:2px;
    left:383px;
    background:url(../img/img.png) no-repeat -326px -1px;
}

/*====================index==================*/
/*======================第二部分==========================*/
.show{
    position:relative;
	width:1353px;
	margin: 0 auto;}
.show h2{
    position:absolute;
    top:253px;
    left:135px;
    font:bold 35px/1 "宋体";
    color:#fff;
}
.show p{
    width:490px;
    position:absolute;
    top:306px;
    left:135px;
     font:bold 14px/23px "宋体";
      color:#fff;
}
.show img{
    width:100%;
    height:506px;
}
.show .picleft{
    width:72px;
    height:72px;
    position:absolute;
    top:217px;
    left:30px;
    background:url(../img/img.png) no-repeat 0 -64px ;
    display: none;
}
.show:hover .picleft,
.show:hover .picright{
	display: inline-block;
}
.show .picleft:hover{
    background-color:#000;
    opacity: .5;
    filter: alpha(opacity=50);
}
.show .picright{
    width:72px;
    height:72px;
    position:absolute;
    top:217px;
    right:30px;
    background:url(../img/img.png) no-repeat -72px -64px;
    display: none;
}
.show .picright:hover{
    background-color:#000;
    opacity: .5;
    filter: alpha(opacity=50);
}

/*======================第三部分==========================*/
.content{
    background:#f2f2f2;min-width:1353px;
}


/*one*/
.mvshoubo{
    /*padding-left: 55px;*/
    width: 1212px;
    margin:0 auto;
}
.logoleft{
    float:left;
    width:119px;
    height:38px;
    margin-top:30px;
    background:url(../img/logoleft.png) no-repeat 0 -46px;
}
.daohang{
    float:right;
    margin:40px  8px 12px;
}
.daohang a{
    float:left;
   padding:0 8px;
    font:12px/28px "宋体";
    color:#666666;
    margin:0 10px;
}
.daohang .dh:hover{
    color:#fff;
    background:#669900;
}
.daohang .act{
    border-bottom: 2px solid #669900;
}

/*two*/
.list{
	position: relative;
	width:1220px;
	margin: 0 auto;
}
.list .i_l{
	position:absolute;
    top:120px;
    right:-60px;
    width:60px;
    height: 66px;
    background:url(../img/img.png) no-repeat right -521px;
}
.list .i_l:hover{
	background:url(../img/img.png) no-repeat right -587px;
}
.listleft{
      background-color: #fff;
    float:left;
    padding:2px;
    border:1px solid #e8e8e8;
    /*margin:9px 12px 49px 66px;*/ 
    margin:9px 12px 49px 0;
}
.listright{
    float:left;
    /*width:744px;*/
    position:relative;
}
.listright .li1,
.listright .li2,
.listright .li3,
{
	z-index: 4;
}
.listright .li4,
.listright .li5,
.listright .li6,
{
	z-index: 4;
}
.listright .lie,
.listright2 .lie{
    float:left;
    font: bold 12px/18px Arial,"宋体";
  /*  position:relative;*/
    position:absolute;
    width:224px;
    height:128px;
    overflow:hidden;
    transition:0.5s;
    border:1px solid #e8e8e8;
    margin:9px 12px ;
    overflow: hidden;
}
.listright .lie:hover,
.listright2 .lie:hover{
      height:280px;
     border:1px solid #b4c988;
     box-shadow: 1px 1px #b4c988, -1px -1px #b4c988;
}
.listright .lie .black,
.listright2 .lie .black{
    position:absolute;
    left:2px;
    bottom:-110px;
    width:220px;
    height:53px;
   background:-webkit-linear-gradient(top,rgba(255,255,255,0), rgba(0,0,0,1));
}
.listright .lie img,
.listright2 .lie img{
    border:2px solid #f7f8f2;;
}
.listright .lie .text,
.listright2 .lie .text{
    position:absolute;
    top:87px;
    left:9px;
    width:212px;
    color:#fff;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.listright .lie .start,
.listright2 .lie .start{
    position:absolute;
    top:102px;
    left:9px;
    color:#ccff99;
}
.span123{
       background-color:#fff;
       padding-left:10px;
}
 .brief{
    color:#969664;
    font:12px/27px "宋体";
 
}
.span123 .span1 
,.span123 .span2 
,.span123 .span3{
    color:#959595;
    padding-left:18px;
    float:left;
    margin:2px 15px 7px 0;

}
.span123 .span1{
    background:url(../img/img.png) no-repeat -365px 3px;
}
.span123 .span2{
    background:url(../img/img.png) no-repeat -365px -26px;
}
.span123 .span3{
    background:url(../img/img.png) no-repeat -365px -104px;
}
/*.span123 .span4{
    padding-right:9px; 
    
}*/
.con{
    color:#656762;
    font:12px/20px "宋体";
    padding:12px 0 6px 10px;
    background-color:#f6f9f2;
    min-height: 51px;
}
.lie a{
  position:relative;
}
.lie .box{
    position:absolute;
    z-index: 2;
}
.lie:hover .ico{
	position:absolute;
	top:28px;
	left:87px;
	width:53px;
	height:53px;
	background: url(../img/img.png) no-repeat -306px -251px;
}
.li1{
    position:absolute;
    top:0;
    left: 0;
}
.li2{
    position:absolute;
    top:0;
    left: 248px;
}
.li3{
    position:absolute;
    top:0;
    left: 496px;
}
.li4{
    position:absolute;
    top:148px;
    left: 0;
}
.li5{
    position:absolute;
    top:148px;
    left: 248px;
}
.li6{
    position:absolute;
    top:148px;
    left:496px;
}

/*three*/
.logoleft1{
    float:left;
    width:129px;
    height:38px;
    margin-top:30px;
    background:url(../img/logoleft.png) no-repeat 0 -92px;
}

/*four*/
.listleft2{
    background-color: #fff;
    float:left;
    width:716px;
    padding:2px;
    border:1px solid #e8e8e8;
    margin:9px 12px 49px 0px; 
}
.listleft2:hover{
	 border:1px solid #b4c988;
	 box-shadow: 0 0 5px #bfcfa0;
}
.listleft2 .flash{
    float:left;
    position: relative;
}
.listleft2 .flash:hover .ico{
	position:absolute;
	top:101px;
	left:201px;
	width:53px;
	height:53px;
	background: url(../img/img.png) no-repeat -306px -251px;
}

.listleft2 .wenzhang{
    float:left;
    padding-left: 12px;
    font: 12px/20px "宋体";
    color:#666666;
    width:236px;
    height:273px;
    overflow:hidden;
}
.listleft2 .wenzhang  h2{
    color:#333333;
    font: bold 17px/27px "宋体";
    margin-top: 12px;
}.listleft2 .wenzhang  h2:hover{
	 color:#64940c;
}
.listleft2 .wenzhang a{
    color:#669900;
    line-height: 23px;
}.listleft2 .wenzhang .p{
    padding-top: 8px;
}
.listright2{
    float:left;
    /*width:744px;*/
    position:relative;
}




.caiyicai{
	background: #fff;
	border:1px solid #dcdcdc;
	border-left:none;
	border-right:none;
}
.logoleft14{
    float:left;
    width:144px;
    height:38px;
    margin-top:30px;
    background:url(../img/logoleft.png) no-repeat 0 -736px;
    /*margin-left: 66px;*/
}
.caiyicai li{
	position:relative;
	float: left;
	padding:2px;
	border:1px solid #e8e8e8;
	margin:9px 7px 19px;
}
.caiyicai li:hover{
	border:1px solid #b6c58e;
	box-shadow: 0 0 5px #c6da9f;
}
/*.caiyicai li:first-child{
	margin-left: 66px;
}*/
.i_cai .a1{
	position: absolute;
	top:86px;
	left: 12px;
	font:bold 12px "宋体";
	color:#fff;
}
.i_cai .a2{
	position: absolute;
	top:104px;
	left:12px ;
	font:12px "宋体";
	color:#ccff99;
}
#bg{
	position:absolute;
	bottom:2px;
	left:3px;
	width:220px;
	height:54px;
	background:-webkit-linear-gradient(top,rgba(255,255,255,0), rgba(0,0,0,1));
}
.caiyicai li:hover .ico{
	position:absolute;
	top:28px;
	left:87px;
	width:53px;
	height:53px;
	background: url(../img/img.png) no-repeat -306px -251px;
}
/*===========底部=======================*/
.deng{
	background: #f2f2f2;
	font:23px/128px "宋体";
	color:#666666;
	text-align: center;min-width:1353px;
}
.deng a{
	color:#669900;
}
.daxiao{
	  min-width:1353px;
}
.yanse{
	background:#282828;
}
.footer .footnav a{
	float: left;
	color:#666666;
	font:12px "宋体";
	padding:40px 13px 24px;
	background: url(../img/img.png) no-repeat -197px -74px;
}
/*.footer .footnav a:nth-child(1){
	text-indent: 374px;
}*/
.footer .footnav .we{
	background:none;
	padding-left: 374px;
}
.footer p{
	color:#999;
	font:12px/20px "宋体";
	text-align: center;
	
}
.footer p a{
	color:#999;
}
.footer .p1{
	/*padding-left: 32px;*/
	position: relative;
	/*background:url(../img/img.png) no-repeat 0 -167px;*/
}
.wen{
	position:absolute;
	top:-2px;
	left: 180px;
	width:25px;
	height: 25px;
	background: url(../img/culture.png) no-repeat;
	background-size: 25px 25px;
}
.footer .p2{
	position: relative;
	padding-bottom: 23px;
}
.gong{
	position:absolute;
	top:-2px;
	left: 145px;
	width:18px;
	height: 20px;
	background: url(../img/img.png) no-repeat 0 -552px;
}
.hong{
	position:absolute;
	top:-25px;
	right: 125px;
	width:34px;
	height: 41px;
	background: url(../img/img.png) no-repeat 0 -167px;
}
.logoleft11{
    float:left;
    width:144px;
    height:38px;
    margin-top:30px;
    background:url(../img/logoleft.png) no-repeat 0 -368px;
}
.listlef11{
	position:relative;
    background-color: #fff;
    float:left;
    padding:2px;
    border:1px solid #e8e8e8;
    margin:9px 12px 49px 0px; 
}
.listlef11:hover{
		border-color: #b4c889;
		box-shadow: 0 0 5px #bad298;
}
.listlef11 .s1{
	color:#c9fb99;
	position:absolute;
	bottom:31px;
	left:9px;
	font:bold 14px/1 "宋体";
}
.listlef11 .s2{
	float:left;
	position:absolute;
	bottom:0px;
	left:0px;
	width:472px;
	height:60px;
	background:-webkit-linear-gradient(top,rgba(255,255,255,0), rgba(0,0,0,1));
}
.listright11 {
	position:relative;
	float:left;
}
.telist{
	/*width:1303px;*/
}
.listright11 .li{
    float:left;
	position: relative;
    font: bold 12px/18px Arial,"宋体";
    width:220px;
  height: 278px;
    border:2px solid #e8e8e8;
    margin:9px 8px ;
    padding:2px;
    background: #fff;
}
.listright11 .li:hover{
border:2px solid #b6c88c;
box-shadow: 0 0 5px #dde6d1;
}
.listright11 .li img{
	margin-bottom:6px;
}
.listright11 .li span{
	float:left;
	width:220px;
	position:absolute ;
	bottom: 164px;
	left: 0px;
	color:#fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.listright11 .lll{
	background: #fff;
	font:12px/27px "宋体";
	color:#333;
	width:222px;
}
.listright11 .lll li{
	height:28px;
	margin-top:1px;
	border-bottom: 1px solid #f1f1f1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	
}
.listright11 .lll li:hover{
	color:#699500;
}
.logoleft13{
    float:left;
    width:144px;
    height:38px;
    margin-top:30px;
    background:url(../img/logoleft.png) no-repeat 0 -598px;
}
.listright13 {
	position:relative;
	float:left;
}
.jingpinyuedan li{
	float: left;
	width:220px;
	border:1px solid #e8e8e8;
	position:relative;
	background: #fff;
	margin:9px 12px 64px 0;
	padding:2px;
}
.jingpinyuedan li:hover{
	border:1px solid #b7cb8c;
	box-shadow: 0 0 5px #b7cb8c;
	}
.jingpinyuedan li:first-child{
	/*margin-left: 66px;*/
}
.jingpinyuedan .img2{
	float: left;
	position:absolute;
	top:196px;
	left: 10px;
}
.jingpinyuedan .img2:hover .i_fd1{
	display: block;
	
}
.jingpinyuedan .text:hover .i_fd1{
	display: block;
}
.jingpinyuedan .txt1{
	float: left;
	color:#cc0000;
	text-indent: 65px;
	padding-right: 24px;
	background:url(../img/img.png) no-repeat right -167px;
	font:12px/21px "宋体";
}
.jingpinyuedan .txt2{
	float: left;
	text-indent: 12px;
	color:#333;
	font:12px/41px "宋体";
}
.i_fd1{
	position:absolute;
	top:44px;
	left: 0px;
	border:1px solid #e5e5e5;
	border-radius: 50px;
	overflow: hidden;/*内容不会被边框挤压,*/
	width:316px;
	height: 200px;
	z-index: 10;
	display: none;
	background: #fff;
}
.i_fdtop{
	background:#f7fdf3;

}
.i_fdtopl{
	float: left;
	padding:8px 14px 8px 8px;
}
.i_fdtopr{
	float: left;
	padding-top:8px ;
}
.i_fdtopr span{
	font:12px/18px "宋体";
}
.i_c1{color:#999e98;}
.i_c2{color:#9fa49e;}
.i_c3{color:#649b00;}
.i_c4{color:#696b66;}
.i_bg2{
	display: inline-block;
	height: 16px;
	padding-right:22px;
	background: url(../img/img.png) no-repeat right -132px;
}
.i_bg1{
	display: inline-block;
	padding-right:30px;
	background: url(../img/img.png) no-repeat right -167px;
}
.i_fdbottom{
   	background: #fff;
   	position: relative;
 }
.i_fdbottom p{
	font:12px/47px "宋体";
}
.i_fdbottom span{
	display: inline-block;
	margin:5px 0px 5px 1px;
}
.i_fdbottom span:nth-child(1){
	width:23px;
	height: 23px;
	background: url(../img/img.png) no-repeat 0 -374px;
}
.i_fdbottom span:nth-child(2){width:23px;
	height: 23px;
	background: url(../img/img.png) no-repeat 0 -405px;
}
.i_fdbottom span:nth-child(3){
	width:25px;
	height: 24px;
	background: url(../img/img.png) no-repeat 0 -438px;
}
.i_fdbottom span:nth-child(4){
		width:23px;
	height: 23px;
	background: url(../img/img.png) no-repeat -31px -374px;
}
#add{
	position:absolute;
	bottom:-30px;
	right:150px ;
	width:75px;
	height: 25px;
	background: url(../img/img.png) no-repeat 0 -475px;}
#message{
	position:absolute;
	bottom:-30px;
	right:65px ;
	width:75px;
	height: 25px;
	background: url(../img/img.png) no-repeat -76px -475px;
}
/*#header{
	position: fixed;top:0px;left:0px;
	z-index: 2;
	width: 100%;
}*/
/*=========================================mv.html*/


.wrap{
	width:1200px;
	margin:0 auto;
}
.box1 .wleft{
	float: left;
	font:18px/1 "宋体";
	color:#27d7d5;
	margin:29px 0 31px;
}
.box1 .wright{
	float: right;
}
.box1 .wright a,
.box5 .wright a{
float: left;
font:12px/27px "宋体";
color:#7a7a7a;
border-bottom:1px solid #fff;
padding:8px 5px;
margin:24px 20px;
}
.box5 .wright .lianjie:hover{
	color:#fff;
	background:#27d5bf ;
}
.box1 .wright a:hover,
.box1 .wright .use,
.box5 .wright .use{
	color:#27d5bf;
	border-bottom-color:#27d5bf ;
}

.box2 .img{
	padding:2px 2px 2px 0;
	float: left;
	position: relative;
}
.box img{
	float: left;
}
.box2 .img span{
	float:left;
	width:32px;
	height: 68px;
}
.box2 .img .ll{
	display: inline-block;
	width:32px;
	height: 68px;
	position:absolute ;
	top:173px;
	left: 0;
	background:url(../img/img.png) no-repeat -93px -364px;
}
.box2 .img .rr{
	display: inline-block;
	width:32px;
	height: 68px;
	position:absolute ;
	top:173px;
	right: 2px;
	background:url(../img/img.png) no-repeat -125px -364px;
}

.box2 .img .ll:hover {
	background:url(../img/img.png) no-repeat -157px -364px;
}
.box2 .img .rr:hover{
	background:url(../img/img.png) no-repeat -189px -364px;
}
/*轮播图*/
.input{
	float: left;
	position: relative;
	width:310px;
	height: 410px;
	/*border:1px solid #000;*/
}
.input .nav{
	float:left;
	width:154px;
	background: #e4e4e4;
	text-align: center;
	font:12px/34px "宋体";
	color:#a7a7a7;
	border-top:3px solid #e4e4e4;
}
.input input:checked+.nav{
	color:#666666;
	background: #fff;
	border-bottom: none;
}
.inputl{
	float: left;
}
.inputl ul{
float: left;
position: absolute;
top: 34px;
left: 6px;
/*background:#fff;*//*.................................*/
/*display: none;*/
}
.input input:checked~ul{
	display: block;
	background:none;
	z-index: 2;
}
.label{
	float: left;
}
.input input{
	display: none;
}
.inputl  li:nth-child(1) {
	padding:18px 0;
}
.inputl  li:nth-child(1) img{
	float: left;
}
.inputl  li:nth-child(1) a{
	float: left;
	padding-left: 15px;
}
.inputl li:nth-child(1) a p{
	color:#333333;
	font:12px/20px "宋体";
}
.inputl li:nth-child(1) a span{
	color:#27d5bf;
	font:12px/20px "宋体";
}
.inputl .name{
	float: left;
	color:#333333;
	font:12px/46px "宋体";
	padding-top: 2px;
}
.inputl .star{
	float: right;
	width:82px;
	color:#27d5bf;
	font:12px/46px "宋体";
	padding-top: 2px;
}
.inputl li{
	width:305px;
	border-bottom: 1px solid #d9d9d9;
	background:#fff;
}
.box3 h2{
	font:17px/1 "宋体";
	color:#333;
	margin:51px 0 12px;
}
.box3 span{
	color:#acaaaa;
	font:12px/1 arial;
}
.box4 li{
	float:left;
	margin:18px 22px 14px 0;
	padding-bottom: 17px;
	position: relative;
	width:220px;
	border:1px solid #ccc;
	font:12px "宋体";
	}
.box4 li .sp1,.box6 li .sp1{
	position:absolute;
	top:89px;
	left: 9px;
	color:#fff;
}
.box4 li .sp2,.box6 li .sp2{
	position:absolute;
	top:104px;
	left: 9px;
	color:#26c480;
}
.box4 li .sp3,.box6 li .sp3{
	color:#999;
	line-height: 39px;	
	padding-left:9px;
}
.box4 li:hover .ico{
	position:absolute;
	top:28px;
	left:87px;
	width:53px;
	height:53px;
	background: url(../img/img.png) no-repeat -306px -251px;
}
#bg1{
	position:absolute;
	bottom:55px;
	left:0px;
	width:220px;
	height:54px;
	background:-webkit-linear-gradient(top,rgba(255,255,255,0), rgba(0,0,0,1));
}

.box4 li:last-child{
	margin:18px 0 14px 0;
}
.box4 ul {
	float: left;
	width:1220px;
}
.box4, .box6{
	position: relative;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}
.box4 .xia,.box6 .xia{
	position:absolute;
	float: left;
	top:40%;
	right: -56px;
	width: 50px;
	height: 50px;
	background: url(../img/img.png) no-repeat -182px -167px ;
}
.box5 .wleft {
	float: left;
}
.box5 .wleft h2{
	font:17px/1 "宋体";
	color:#333;
	margin:51px 0 12px;
}
.box5 .en{
	color:#acaaaa;
	font:12px/1 arial;
}
.box5 .wright a{
	margin-top: 51px;
}
.box5 .wright {
	float: right;
}
.box5 .wright a{
	float: left;
	padding:0 5px;
}
.box6 .wleft{
	float: left;
	border:1px solid #f7f7f7;
	margin-top: 18px;
	position: relative;
}
.box6 .wleft:hover .ico{
	position:absolute;
	top:90px;
	left:191px;
	width:53px;
	height:53px;
	background: url(../img/img.png) no-repeat -306px -251px;
}
.box6 .wleft .b1{
	float: left;
	font:14px/45px "宋体";
	color:#666666;
	position: relative;
	padding-right: 88px;
}
.box6 .wleft .b2{
	float: right;
	position:absolute;
	top:0;
	right: 0;
	font:13px/43px "宋体";
	color:#26d0bb;
	padding-top:2px;
}
.box6 .wleft .b3{
	font:12px/17px "宋体";
	color:#999999;
	padding-bottom: 53px;
}
.box6 li{
	float:left;
	margin:18px 0px 14px 22px ;
	padding-bottom: 17px;
	position: relative;
	width:220px;
	border:1px solid #ccc;
	font:12px "宋体";
}
.box6 .wright li:hover .ico{
	position:absolute;
	top:28px;
	left:87px;
	width:53px;
	height:53px;
	background: url(../img/img.png) no-repeat -306px -251px;
}

/*======yuedan================*/

.yd_nav{
	padding:26px 0 19px 0;

}
.yd_nav a{
	float:right;
	color:#7a7a7a;
	font:12px "宋体";
	padding:0 15px;
	margin-left: 5px;
	
}
.yd_nav a:hover{
	color:#27d5bf;
}
.yd_nav .use{
	color:#27d5bf;
	text-decoration: underline;
}
.yd_img{
	position: relative;
}.yd_img img{
	float: left;
}
.yd_img .yd_l{
	position:absolute;
	top:130px;
	left: 0;
	float: left;
	width:56px;
	height: 136px;
	background:url(../img/img.png) no-repeat -388px -228px;
}
.yd_img .yd_l:hover{
	background:url(../img/img.png) no-repeat -388px -364px;
}
.yd_img .yd_r{
	position:absolute;
	top:130px;
	right: 0;
	float: left;
	width:56px;
	height: 136px;
	background:url(../img/img.png) no-repeat -444px -228px;
}
.yd_img .yd_r:hover{
	background:url(../img/img.png) no-repeat -444px -364px;
}
.yd_img .vb_l{
	position:absolute;
	top:149px;
	left: 0;
	float: left;
	width:36px;
	height: 99px;
	background:url(../img/img.png) no-repeat -233px -364px;
}
.yd_img .vb_l:hover{
	background:url(../img/img.png) no-repeat -269px -364px;
}
.yd_img .vb_r{
	position:absolute;
	top:149px;
	right: 0;
	float: left;
	width:36px;
	height: 99px;
	background:url(../img/img.png) no-repeat -341px -364px;
}
.yd_img .vb_r:hover{
	background:url(../img/img.png) no-repeat -305px -364px;
}
.yd_title{
	font:12px "宋体";
	color:#fff;
	position:absolute;
	top:281px;
	left: 121px;
}
.yd_title1{
	font:12px/20px "宋体";
	color:#c5c5c5;
	width:796px;
	position:absolute;
	top:303px;
	left: 121px;
}
.yd_con .yd_left{
	width:780px;/*/////////////*/
	float: left;
}
.yd_head span{
	float: left;
	width:70px;
	height:36px;
	padding:17px 0 12px;
	background:url(../img/pl_title_ico.png) no-repeat 0px 0px;
}
.yd_head a{
	color:#7a7a7a;
	font:12px/36px "宋体";
	float: right;
	padding:17px 20px 12px;
}
.yd_head a:hover{
	color:#55dbca;
	text-decoration: underline;
}
.yd_left li{
	width:780px;
	padding-top: 18px;
	padding-bottom:20px;
	border-top:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
}
.yd_left li:last-child{
	border-bottom:1px solid #e9e9e9;
}
.yd_left li .yd_pic{
	float:left;
	width:240px;
	height: 240px;
	box-sizing:border-box;
}
.yd_left li .yd_pic:hover{
	border:2px solid #55dbca;
}

.yd_left li  .yd_div{
	float:left;
	width:520px;
	font:12px/20px "宋体";
	padding-left: 17px;
	color:#b9b9b9;
}
.yd_div .h2{
	font:bold 12px/40px "宋体";
	padding-top: 3px;
	color:#7a7a7a;
}
.yd_div .h2:hover{
	color:#55dbca;
}
.yd_div p:nth-child(2n+1){
	color:#7a7a7a;
}
.yd_div p:nth-child(4){
	padding-top: 8px;
}
.yd_div div{
	padding-top: 29px;
}
.yd_div div img{
	float: left;
	border-radius:25px ;
	border:1px solid #fff;
}
.yd_div div img:hover{
	border:1px solid #3ad5c4;
}
.yd_div div a:nth-last-child(2){
	float: left;
	padding-top: 20px;
	color:#27d5bf;
}
.yd_div div a:nth-last-child(2):hover
,.yd_div div a:last-child:hover{
	text-decoration: underline;
}
.yd_div div a:last-child{
	float: right;
	padding: 20px 23px 0 0;
	color:#27d5bf;
}


.yd_head li:nth-last-child(1){
	border-bottom: 1px solid #e9e9e9;
}
.yd_more{
	width:770px;
}
.yd_more a{
	float: right;
	color:#7a7a7a;
	font:12px/41px "宋体";
	padding-bottom: 29px;
}
.yd_right{
	width:240px;
	float: left;
	padding-left: 20px;;
}
.yd_right h2{
	padding-bottom: 17px;
	width:100px;
	height:48px;
	background:url(../img/pl_title_ico.png) no-repeat 0px -61px;
}
.yd_right li{
	width:400px;
	padding:14px 0;
	border-top: 1px solid #e9e9e9;
	position: relative;
}
.yd_right li:last-child{
	border-bottom: 1px solid #e9e9e9;
}
.yd_right li img{
	float: left;	
}
.yd_right li div:nth-child(2){
	float: left;
	color:#7a7a7a;
	margin-left: 14px;
	
}
.yd_right li  .man{
	width:200px;
	position:absolute;
	bottom:8px;
	right: 4px;
}
.yd_right li div .h3{
	display: block;
	font: bold 12px/40px "宋体";	
	color:#7a7a7a;
}
.yd_right li div .h3:hover{
	color:#63d0bb;
	text-decoration: underline;
}
.yd_right li div p{
	font:12px "宋体";
}
.yd_right li div .nicheng{
	font:12px "宋体";
	color:#27d5bf;
	float: left;
	position:absolute;
	bottom: 20px;
	right:50px;
}
.yd_right li div .nicheng:hover{
	text-decoration: underline;
}
.yd_right li div .headpic{
	float: right;
	width:50px;
	height:50px;
	background:url(../img/headpic.png);
	background-size: 100% auto;
	border:1px solid #fff;
	border-radius: 50px;
}
.yd_right li div .headpic:hover{
	border-color:#27d5bf;
}
.yd_right li div span{
	position: absolute;
	top:14px;
	left: 0;
	width:34px;
	height:34px;
	background:#65eddd;
	text-align: center;
	line-height: 34px;
}
.yd_right li:nth-child(2)  span,
.yd_right li:nth-child(10)  span{
	background:#56c5e4;
}
.yd_right li:nth-child(1)  span{
	background:#df567e;
}


/*=================vbang===============*/
.v_left{
	float: left;
	width:351px;
}
.v_head{
	font:18px/36px "宋体";
	padding-top: 40px;
	border-bottom:1px solid #e2e2e2;
}
.v_head a{
	color:#333;
}
.v_head a:hover{
	color:#34d7c3;
}
.v_head span{
	font:12px "宋体";
	color:#999999;
}
.v_li{
	padding:24px 0 3px;
}
.v_li:hover .v_text{
	box-shadow:  5px 3px 10px rgba(0,0,0,.5);
	
}
.v_img{
	float: left;
	width:120px;
	height: 120px;
	background: url(../img/vb/wu.jpg);
	background-size:100% auto ;
}
.v_img1{
	background: url(../img/vb/pd.png);
}
.v_img2{
	background: url(../img/vb/pd3.png);
}
.v_img3{
	background: url(../img/vb/pd2.png);
}
.v_img4{
	background: url(../img/vb/pd5.png);
}
.v_text{
	float: left;
	width:195px;
	height: 118px;
	padding-left: 10px;
	overflow: hidden;
}
.v_text .v_tj{
	font:12px/46px"宋体";
	color:#333333;
	padding-top: 2px;
}
.v_text .v_tj:hover{
	color:#34d7c3;
}
.v_text p{
font:12px/18px "宋体";
color:#999999;
}
.v_llist{
	padding-right: 25px;
	float: left;
}

.v_list_1{
	position: relative;	
}
.v_list_1 span{
	position: absolute;
	top:0;
	left: 0;
	width:52px;
	height:34px;
	background:url(../img/img.png)  0 -246px;
}
.v_list_2 span{
	background:url(../img/img.png)  0 -289px; ;
}
.v_list_3 span{
	background:url(../img/img.png)  0 -328px; ;
}
.v_bg{
background:#f6f6f6;
}
.v_con{
	border-top: 1px solid #d0d0d0;
/*	background:#f6f6f6;*/
	font:12px/31px "宋体";
	color:#666666;
	padding:23px 0 19px 21px;
}
.v_con p:nth-child(1) a{
color:#49d9c7;}
.v_con p:nth-child(2) a{
color:#333333;}
.v_con p:nth-child(3) a{
color:#666666;}

.v_buy{
	font:12px/46px "宋体";
	margin-left: 22px;
	border-top: 1px solid #d0d0d0;
	background:#f6f6f6;
	color:#666666;
	padding-bottom: 7px;
}
.v_ol{
	margin-left: 22px;
}
.v_ol li{
	border-bottom: 1px solid #fff;
}
.v_ol .v_shu{
	float: left;
	width:30px;
	line-height:80px;
	color:#ff6e9f;
	font-weight: bold;
	
}
.v_ol li img{
	float: left;
	border-radius: 58px;
	padding:12px 0 9px;
}	
.v_ol  p{
color:#999999;
		float: left;
		font:12px/26px "宋体";
		padding:15px 0 0  14px;
}
.v_ol  p a{
	color:#999999;
}
.v_value{
	color:#34d7c3;
	font-weight: bold;
}
.v_right{
	float: right;
	margin-left: 48px;
	width:800px;
}
.v_box{
width:810px;
height: 769px;
position: relative;
top:24px;
/*overflow: hidden;*/
}
.v_box2{
	position: relative;
	height:386px;
}
.v_box3{
	position: relative;
	height:193px;
	border-bottom:1px solid #e2e2e2;
}
.v_box4{
	position: relative;
	height:424px;
	border-bottom:1px solid #e2e2e2;
}
.v_yyvb{
	position: relative;
}
.lookback{ 
font:12px "宋体";
color:#999999;
position: absolute;
bottom:-7px;
right:0;
background:#fff;
}
.v_box5{
	position: relative;
	height:508px;
	
}
.hidden {
display: none;
}
.label,
.label1{
float: left;
}
.label span{
	font:12px "宋体";
	width: 102px;
	line-height: 34px;
	text-align: center;
	color:#333;
}
.label .v_s{
	position: absolute;
	top:-63px;
	right:112px;
}
.label .v_s:hover
,.label .v_s1:hover
,.xuanze1:hover
,.xuanze2:hover
,.xuanze3:hover
,.xuanze4:hover
,.xuanze5:hover
,.xuanze6:hover
,.xuanze7:hover{
color:#34d7c3;
}
.label .v_s1{
	position: absolute;
	top:-63px;
	right: 10px;
}
.label ul{
	position:absolute;
	top:0;
    left: 0;
    width:100%;
	/*display:none;*/
}
input:checked+span{
border-bottom: 1px solid #34d7c3;
color:#34d7c3;
}
.label ul{
	background:#fff;
}
input:checked~ul{
display: block;
background:none;
z-index: 11;
}

.v_zgj{
	background: ebf0f3;
}
#v_pic,#v_zbjns{
	position: relative;
}
#v_pic .v_mask{
	position: absolute;
	top:83px;
	left: 0;
	width:220px;
	height:42px;
	background:#000;
	opacity: .5;
}
#v_pic .v_ranking{
	position: absolute;
	top:95px;
	left: 7px;
	color:#fff;
	font:bold 20px arial;
}
#v_pic .v_score{
	position: absolute;
	top:95px;
	right: 30px;
	color:#fff;
	font:17px arial;
}
.v_yy{
	background: #fff;
}
.v_yy .v_song{
	display: block;
	font:12px/23px "宋体";
	padding-top: 14px;
	color:#333333;
}
.v_yy .v_song:hover
,.v_yy .v_singer:hover{
color:#34d7c3;	
}
.v_yy .v_singer{
	display: block;
	font:12px/23px "宋体";
	padding-bottom: 14px;
	color:#333333;
}
#v_zbjns .v_change{
	position: absolute;
	top:83px;
	left: 0;
	width:220px;
	height:42px;
		background:-webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,1));

}
#v_zbjns .v_cantus{
	position: absolute;
	top:85px;
	left:12px;
	color:#fff;
	font:12px "宋体";
}
#v_zbjns .v_songster{
	position: absolute;
	top:102px;
	left:12px;
	color:#26d0bb;
	font:12px "宋体";
}
.v_yy .v_bofang{
	font:12px/46px "宋体";
	color:#333;
	height: 46px;
	
}
.v_yy .v_bofang span{
	width:26px;
	height:16px;
   display: inline-block;
	background:url(../img/icons.png) no-repeat -64px -177px;
}
.v_yy .v_bofang i{
	font-size: 16px;
	color:#58d3bd;
}
.v_yy .v_bore ,
.v_yy .v_keep{
	font:12px/21px  "宋体";
	color:#999;
}
.v_yy .v_keep{
	padding-bottom: 29px;
}
.v_yy .v_bore span ,
.v_yy .v_keep span{
	color:#666;
}

.huoban{
background:#ebedf3;
   min-width:1353px;
}
.huoban h2{
font: 17px/35px "宋体";
padding-top:31px;
border-bottom: 1px solid #cacaca;
}
.v_h3{
float: left;
font:12px/38px "宋体";
color:#666666;
padding-top: 12px;
}
.v_hh3{
padding-bottom:12px;
}
.v_more{
float: right;
font:12px/20px "宋体";
color:#666666;
padding-top: 12px;
}
.v_pic {
width:1080px;
}
.v_pic a{
padding-bottom: 22px;}
.v_pic .v_picture{
 	float:left;
 	background:#fff;
 	padding:10px;
 	margin-right: 38px;
}
.v_pic .v_picture1 img{
	padding-bottom: 3px;
}
.v_pic .v_picture2{
 	float:left;
 	padding-right:10px;
}
.v_zgj{
	background:#ebf0f3;
	   min-width:1353px;
}
.v_head1{
	font:17px/39px "宋体";
	padding-top: 22px;
	border-bottom:1px solid #e2e2e2;
}
.v_head1 span{
	color:#999999;
	font:12px/32px "宋体";
}
.v_zgjl{
	float:left;
}
.v_zgjr{
	position: relative;
	width:528px;
	margin-left:28px;
	background:#fff;
	float: left;
}
 .v_title{
 	padding: 30px 0 0 41px;
	color:#666666;
	font:16px/32px "宋体";
}
.v_star{
	padding-left: 41px;
	color:#333333;
	font:13px/32px "宋体";
}
.v_star:hover{
	color:#34d7c3;
}
.v_lie{
	padding:29px 0 52px;
}
.v_lie li{
	width:124px;
	height:51px;
	float: left;
	text-align: center;
	padding-bottom: 12px;
}
.v_lie li p:nth-child(odd){
	color:#999999;
	font:12px/29px "宋体";
}
.v_lie li p:nth-child(even){
	color:#666666;
	font:bold 14px/29px "宋体";
}
.v_lie li:nth-child(1),
.v_lie li:nth-child(5){
	margin-left: 6px;
}
.v_dj{
	position:absolute;
	bottom:-52px;
	left:0;
	width:528px;
	height:50px;
	background:#34d7c3;
	font:12px/50px "宋体";
	text-align: center;
	color:#fff;
}
.v_fd{
	position:absolute;
	top:31px;
	right: -4px;
	width:140px;
	height: 43px;
	background:url(../img/img.png) no-repeat -93px -289px;
}
.hidden+span{
	position: absolute;
	padding:12px 15px;
	top:-39px;
	font:12px "宋体";
}
.label1 .xuanze1{
	right:264px;
	}
.label1 .xuanze2{
	right:198px;
}
.label1 .xuanze3{
	right:132px;
}
.label1 .xuanze4,.label1 .xuanze6{
	right:66px;
}
.label1 .xuanze5,.label1 .xuanze7{
	right:0px;
}
.label1 div{
	position:absolute;
	top:16px;
background:#fff;
	/*display: none;*/
}
.hidden:checked~div{
	display: block;
	z-index: 11;
	background:none;
}
.shengluohao{
	display: block;
	font:12px/48px "宋体";
	color:#333;
	width:220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shengluohao:hover{
	color:#34d7c3;
}
.l{
	position: relative;
}
.fj .v_yymask{
	position: absolute;
	top:0;
	left: 0;
	width:220px;
	height: 124px;
	background:#000;
	opacity: .3;
	filter: alpha (opacity=30);
	display: none;
}
.fj:hover .v_yymask,.fj:hover .v_yystart,.fj:hover .v_yyadd{
	display: block;
}
.fj .v_yystart{
	position: absolute;
	top:37px;
	left: 85px;
	width:47px;
	height:47px;
	background:url(../img/icons.png) no-repeat -79px -229px;
	display: none;
}
.fj .v_yyadd{
	position: absolute;
	width:18px;
	height:18px;
	background:url(../img/icons.png) no-repeat -126px -303px;
		display: none;
}
.fj .v_yyadd{
	bottom:50px;
	right: 22px;
}
.fj2 .v_yyadd{
	bottom:118px;
	right: 22px;
}
.fjte2 .v_yyadd{
	bottom:118px;
	right: 22px;
}
.fjte .v_yyadd{
	bottom:50px;
	right: 2px;
}
.l{
	float: left;
}
.v_yy li{
	padding-right: 20px;
	
}
/*.v_yy li:nth-child(5),.v_yy li:nth-child(10),*/ .v_yy #wu{
	padding-right: 0;
}
.size{
	width: 220px;
	height:124px;
}
